body {
    width: 600px;
}
input {
    width: 97%;
}
label {
    vertical-align: top;
}
textarea {
    width: 97%;
    height: 100px;
}
#htmlspecimen {
    background: burlywood;
    padding: 6px;
}
p.header {
    font-size: large;
    color: chocolate;
}
.link:hover {
    text-decoration: underline;
}